@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line {
    width: 8rem;
    height: 0.28rem;
    margin: 0.5rem auto 0 auto;
    border-radius: 0.5rem;
    background-color: theme("colors.primary");
  }

  .image-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
  }

  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
